    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* common */
    
    body {
        font-family: "Lato", "FontAwesome", sans-serif;
    }
    
    .user,
    .contacted-user,
    .input-message,
    .search-contacts {
        background-color: #EAEAEA;
    }
    
    .notifications {
        background-color: #8EDAFC;
        display: flex;
        align-items: center;
        padding: 20px;
    }
    /* boxes */
    
    .background {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(180deg, rgba(0, 150, 136, 1) 0% 15%, rgba(218, 219, 212, 1) 15% 100%);
        padding-top: 25px;
    }
    
    .app-wrapper {
        height: calc(100% - 25px);
        width: calc(100% - 400px);
        margin: auto;
    }
    
    .float-left {
        float: left;
    }
    /* contacts boxes */
    
    .contacts-container {
        height: 100%;
        width: 35%;
        border-right: 1px solid gray;
    }
    
    .user,
    .notifications {
        width: 100%;
        height: 75px;
    }
    
    .search-contacts {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contacts {
        width: 100%;
        height: calc(100% - 200px);
        background-color: white;
        overflow-y: scroll;
    }
    /* chat box  */
    
    .chat-container {
        height: 100%;
        width: 65%;
        background-color: red;
    }
    
    .contacted-user,
    .input-message {
        width: 100%;
        height: 75px;
    }
    
    .chat-area {
        width: 100%;
        height: calc(100% - 150px);
        background-image: url(../img/mine.jpg);
        overflow-y: scroll;
    }
    /* clearfix */
    
    .app-wrapper::after {
        content: "";
        display: table;
        clear: both;
    }
    /* contacts-container */
    
    .user,
    .contacted-user {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    
    .user-name img,
    li img {
        height: 60px;
        margin-right: 20px;
        border-radius: 50%;
        border: solid 1px black;
    }
    
    .user-name {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    
    .user-icons {
        color: #B1B1B1;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }
    
    .user-icons i {
        padding: 0 10px;
    }
    
    .last-access {
        color: gray;
        font-size: .8rem;
        padding-top: 5px;
    }
    
    .notification-icon {
        color: #8EDAFC;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 10px;
    }
    
    .notification-message a {
        color: darkslategray;
        font-size: .8rem;
    }
    
    .search-contacts input {
        width: 95%;
        height: 80%;
        padding-left: 80px;
        border: none;
    }
    
    .search-contacts i {
        position: absolute;
        top: 25px;
        left: 40px;
        transform: translateY(-50%);
        color: #B6B9BB;
    }
    
    .list-users {
        display: flex;
        padding-left: 20px;
        height: 80px;
        align-items: flex-start;
        font-size: 1.1rem;
        text-transform: capitalize;
        padding-top: 10px;
        border-bottom: 1px solid #EAEAEA;
    }
    
    .list-users img {
        margin-right: 20px;
    }
    
    .list-users:hover {
        background-color: lightgray;
    }
    /* chat container  */
    
    .input-message {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
        color: gray;
        padding: 20px;
    }
    
    .input-message input {
        width: 85%;
        height: 55px;
        border-radius: 0.5rem;
        border: none;
        padding-left: 20px;
        font-size: 1rem;
    }
    /* message container prototype  */
    
    .message {
        width: 200px;
        padding: 10px;
        border-radius: 15px;
    }
    
    .received {
        margin: 20px 50px;
        background-color: rgba(243, 243, 243, 0.699);
    }
    
    .sent {
        margin: 20px 600px;
        background-color: hsla(120, 63%, 75%, 0.575);
    }
    
    .date {
        padding: 5px 10px 0;
        text-align: end;
        font-size: .6rem;
        color: gray;
    }