<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>BoolZap</title>
</head>

<body>
    <div id="root" class="background">
        <!-- container with the two floating elements -->
        <div class="app-wrapper">
            <!-- container with contacts -->
            <div class="float-left contacts-container">
                <!-- user element -->
                <div class="user">
                    <div v-for="{name,avatar} in userData" class="user-name">
                        <img :src="'img/avatar'+ avatar +'.jpg'" alt="">
                        <p>{{name}}</p>
                    </div>
                    <div class="user-icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- end user element -->
                <!-- notifications element -->
                <div class="notifications">
                    <div class="notification-icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notification-message">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p> <a href="#">Attiva notifiche desktop</a> </p>
                    </div>
                </div>
                <!-- end notifications element -->
                <!-- search elements  -->
                <div class="search-contacts">
                    <!-- search icon absolute over the input, remember to hide on click over the input -->
                    <i class="fas fa-search"></i>
                    <input v-model="search" type="text" placeholder=" Cerca o inizia una nuova chat">
                </div>
                <!-- end of search element  -->
                <!-- contacts element -->
                <div class="contacts">
                    <!-- using v-for to create contacts after creating the prototype -->
                    <ul class="contact-list">
                        <!-- i'm saving index too cause it would be probably usefull with the next milestones -->
                        <!-- ******************************************************** -->
                        <!-- tabindex = 1 force a real focus state -->

                        <li tabindex="1" @click="changeConversation(index)" v-for="({name,avatar,visible,messages}, index) in searchFilter" :class="'list-users ' + activeStatus(index) ">
                            <!-- ******************************************************** -->
                            <div class="user-contact" v-show="contacts[index].filtered == true">
                                <img :src="'img/avatar'+avatar+'.jpg'" alt="icon">
                                <p>{{name}}</p>
                                <h5 v-show="searchFilter[index].visible == true && searchFilter[index].filtered == true">{{lastMessage(index).message}} <br> {{lastMessage(index).date}}
                                </h5>
                            </div>

                        </li>
                    </ul>
                </div>
                <!-- end of contacts -->
            </div>
            <!-- end container with contacts -->
            <!-- chat container -->
            <div class="float-left chat-container">
                <div class="contacted-user">
                    <div v-if="conversationIndex == index" v-for="({name, avatar}, index) in searchFilter" class="user-name">
                        <img :src="'img/avatar'+ avatar +'.jpg'" alt="">
                        <span>
                            <p>{{name}}</p>
                            <p class="last-access">ultimo accesso oggi alle</p>

                        </span>
                    </div>
                    <div class="user-icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- message prototype -->
                <div class="chat-area">
                    <div v-show="searchFilter[conversationIndex].visible == true" v-for="({message,date,status}, index) in searchFilter[conversationIndex].messages" :class="'message '+ status">
                        <div class="display-flex ">
                            <p>{{message}}</p>
                            <div @click="toggleDropDown(index) " class="angle-down">
                                <i class="fas fa-angle-down"></i>
                            </div>
                            <div v-show="deleteMessagesIndex == index" class="delete-message ">
                                <p>message info</p>
                                <p @click="removeMessageFunction(conversationIndex, deleteMessagesIndex)">Delete message</p>
                            </div>
                        </div>
                        <div>
                            <p class="date ">{{date}}</p>
                        </div>
                    </div>
                    <div v-show="searchFilter[conversationIndex].visible == false" class="empty-chat">
                        <p>Nessun messaggio in cronologia</p>
                    </div>
                </div>
                <!-- end of message prototype -->
                <div class="input-message ">
                    <i class="far fa-smile "></i>
                    <input @keyup="switchButton" @keydown.enter="sendMessage(conversationIndex) " v-model="userMessages " type="text " placeholder="scrivi un messaggio ">
                    <i v-show="mikeSend == true" class="fas fa-microphone "></i>
                    <i @click="sendMessage(conversationIndex)" v-show="mikeSend == false" class="fas fa-paper-plane"></i>
                </div>
            </div>
            <!-- end of chat container -->
        </div>
        <!-- end of floating elements container -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="js/main.js "></script>
</body>

</html>